<html>
<head>
	<style>
	table,td{
  border: 1px solid black;
		
	}
	table{
		width: 40%;
		
	}
	</style>
</head>
<body>
<table style="width: 40%;margin: 0 auto;">
<tr>
	<td rowspan="3" width="40%">
		<i class="fa-solid fa-truck-fast"></i>
		<i class="fa-regular fa-truck-fast"></i>
	</td>
	<td width="96%" height="100px" style="display:flex;justify-content:space-between">
		<img src="./image/barcode.png" alt="barcode" style="width:67%;height:90%;">
		<img src="./image/qr.jpg" alt="barcode" style="width:31%;height:90%;">
	</td>
</tr>
<tr>
	<td>
		Ma Van Don
	</td>
</tr>
<tr>
	<td>
		Ma Don Hang
	</td>
</tr>
<tr>
	<td>Tu</td>
	<td>Den</td>
</tr>
<tr>
	<td>nguoi gui</td>
	<td>nguoi nhan</td>
</tr>
<tr>
	<td>dchi gui</td>
	<td>dchi nhan</td>
</tr>
<tr>
	<td>sdt gui</td>
	<td>sdt nhan</td>
</tr>
<tr>
	<td>Ngay dki</td>
	<td rowspan="2">Mo ta</td>
</tr>
<tr>
	<td>Unknown</td>
</tr>
<tr>
	<td>Unknown</td>
	<td>Ghi chu</td>
</tr>
<tr>
	<td>Tien thu(COD)</td>
	<td>KL max</td>
</tr>
<tr>
	<td>Chi dan</td>
	<td>Chu ki</td>
</tr>
</table>
</body>
</html>