{% extends "tracuunv.html" %}
{% block tracuulichsunv %}
    <span>Lịch sử giao hàng nhân viên đã giao hàng</span>
    <table>
        <tr>
            <td>
                Mã đơn hàng
            </td>
            <td>
                Mã vận đơn
            </td>
            <td>
                Mã đăng ký
            </td>
            <td>
                Mã nhân viên
            </td>
        </tr>
        {% for k in lichsunvgh %}
           <tr>
               <td>
                   {{ k[0] }}
               </td>
               <td>
                   {{ k[1] }}
                </td>
                <td>
                   {{ k[2] }}
                </td>
                <td>
                   {{ k[3] }}
                </td>
           </tr> 
        {% endfor %}
    </table>
{% endblock %}
