{% extends "base.html" %}
{% block content %}
<head>
    <style>
        table, td{
            border: 1px solid black;
            border-collapse: collapse;
        }
        td{
            width:10%;
            height:50px;
            text-align:center;
        }
    </style>
</head>
<body>
    <form method="POST">
        <div class="formdki">
            <p>
                {{ form.hidden_tag() }}
                {{ form.manv.label() }}
                {{ form.manv() }}
            </p>

            <p onclick="TraCuuNV()">
                {{ form.nutTraCuuNV() }}
            </p>
            
        </div>
    </form>

    <div>
        <p> 
            {% for i in thongtin %}
                Mã Nhân Viên: {{ i[0] }}
            {% endfor %}
        </p>
        <p> 
            {% for i in thongtin %}
                Email: {{ i[1] }}
            {% endfor %}
        </p>
        <p>
            {% for i in thongtin %}
                Tên Nhân Viên: {{ i[2] }}
            {% endfor %}
        </p>
        <p>
            {% for i in thongtin %}
                Số điện thoại: {{ i[3] }}
            {% endfor %}
        </p>
        <p>
            {% for i in thongtin %}
                Địa Chỉ: {{ i[4] }}
            {% endfor %}
        </p>
        <p>
            {% for i in thongtin %}
                CCCD: {{ i[5] }}
            {% endfor %}
        </p>
        <p>   
            {% for i in thongtin %}
                Chức Vụ: {{ chucvu[0] }}
            {% endfor %}
        </p>
        <p>
            {% for i in thongtin %}
                Ngày Sinh: {{ ngaysinh[0] }}
            {% endfor %}
        </p>
    </div>

    {% block tracuulichsunv %}
    
    {% endblock %}
<h4>Danh Sách Nhân Viên</h4>
    <table>
        <tr>
            <td>
                Mã Nhân Viên
            </td>
            <td>
                Tên Nhân Viên
            </td>
            <td>
                Email
            </td>
            <td>
                Số Điện Thoại
            </td>
            <td>
                Địa chỉ
            </td>
            <td>
                CCCD
            </td>
            <td>
                Tên Chức Vụ
            </td>
            <td>
                Ngày Sinh
            </td>
        </tr>
        {% for a in nv %}
        <tr>
            <td>
                {{ a[0] }}
            </td>
            <td>
                {{ a[2] }}
            </td>
            <td>
                {{ a[1] }}
            </td>
            <td>
                {{ a[3] }}
            </td>
            <td>
                {{ a[4] }}
            </td>
            <td>
                {{ a[5] }}
            </td>
            <td>
                {{ a[6] }}
            </td>
            <td>
                {{ a[7] }}
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
{% endblock %}