{% extends "base.html" %}
{% block content %}
<head>
    <style>
      table,td{
        border: 1px solid black;
        border-collapse: collapse;
        text-align:center;
      }
    </style>
  </head>
<body>
    <form method="POST">
        <div class="formdki">
            <p>
                {{ formmakh.hidden_tag() }}
                {{ formmakh.makh.label() }}
                {{ formmakh.makh() }}
            </p>

            <p>
                {{ formmakh.nutTraCuuKH() }}
            </p>
            
        </div>
    </form>
{% block tracuukh %}
{% endblock %}
<h4>Danh Sách Khách Hàng</h4>
<table>
    <tr>
        <td>
            Mã Khách Hàng
        </td>
        <td>
            Tên Khách Hàng
        </td>
        <td>
            Địa Chỉ
        </td>
        <td>
            Số Điện Thoại
        </td>
        <td>
            Loại Khách Hàng
        </td>
        <td>
            CCCD
        </td>
    </tr>
    {% for a in kh1 %}
    <tr>
        <td>
            {{ a[0] }}
        </td>
        <td>
            {{ a[1] }}
        </td>
        <td>
            {{ a[2] }}
        </td>
        <td>
            {{ a[3] }}
        </td>
        <td>
            {{ a[4] }}
        </td>
        <td>
            {{ a[5] }}
        </td>
    </tr>
    {% endfor %}
</table>

</body>
{% endblock %}